@media(max-width: 900px){
            body{
                width: 1500px;
            }
            .Enlaces address {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
@media (max-width: 750px) {
    .Enlaces address {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Titulos_Dos img{
        width: 400px;
        height: 600px;
    }
}

body{
    margin: 0;
    padding: -3%;
    background-color: #e0e0e0;
}

.Contenedor_Principal{
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-around;
}

.imagen img{
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-color: gray;
}

.Seccion_Foto_Redes{
    justify-content: space-around;
    background-color: #f5f0e9;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 100%;
    margin: 10px;
    box-shadow: 0px 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.Seccion_Nombre h2{
    font-family: 'Impact', sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    color: #333;
    margin: 4;
    text-transform: uppercase;
    line-height: 1.1;
}

.Detalles_Educativos p{
    font-size: 120%;
    font-family: monospace;
}

.Redes_Sociales a{
    color: black;
    text-decoration: none;
}

.Redes_Sociales a:hover{
    color: #d2d2d2;
    transition: color 0.5s;
}

.Cuerpo_Seccion_Hoja_De_Vida{
    max-width: 50%;
    margin-right: 2%;
    margin-left: 5%;
    justify-content: space-around;
    padding: 5%;
    background-color: #f5f0e9;
    box-shadow: 0px 0px 10px 15px rgba(0, 0, 0, 0.098);
    font-size: 120%;
    font-family: monospace;
    border-radius: 15px;
}

.Seccion_Bienvenida, h1{
    font-size: 50px;
    font-family: 'Impact', sans-serif;
    color: #333;
    margin: 5%;
}

.Enlaces a{
    text-decoration: none;
    font-family: monospace;
    color: rgb(255, 255, 255);
    background-color: rgb(138, 138, 255);
    margin: 2%;
    padding: 2%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    
}

.Enlaces a:hover{
    transition: color 1s;
    background-color: white;
    color: black;
}

.boton_D a{
    text-align: center; 
    text-decoration: none; 
    background-color: #f5f0e9; 
    padding-left: 5%; 
    padding-right: 5%; 
    padding-top: 1%; 
    padding-bottom: 1%; 
    border-radius: 22px; 
    background-color: rgb(138, 138, 255); 
    color: white;
}

.boton_D a:hover{
    background-color: white;
    color: black;
    transition: 1s;
}

.Hoja_De_Vida_Articulo{
    font-family: monospace;
    font-size: 100%;
    background-color: #f5f0e9; 
    margin-left: 3%; 
    margin-right: 3%; 
    padding: 3%; 
    border-radius: 30px; 
    margin-bottom: 50px; 
    margin-top: 50px; 
    box-shadow: 0px 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.Seccion_Hoja_De_Vida_1{
    display: inline-flex;
}

.Seccion_Hoja_De_Vida_1 div{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: #e0e0e0;
    padding: 2%;
    border-radius: 20px;
    max-width: 30%;
}

.Hoja_De_Vida_Trabajo_1 a{
    text-decoration: none;
    color: rgb(0, 145, 255);
}

.Hoja_De_Vida_Trabajo_1 a:hover{
    color: #2200ff;
    transition: color 0.5s;
    text-decoration: underline;
}


.Hoja_De_Vida_Trabajo_2 a{
    text-decoration: none;
    color: rgb(0, 145, 255);
}

.Hoja_De_Vida_Trabajo_2 a:hover{
    color: #2200ff;
    transition: color 0.5s;
    text-decoration: underline;
}

.Seccion_Hoja_De_Vida_2{
    display: inline-flex;
}

.Seccion_Hoja_De_Vida_2 div {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: #e0e0e0;
    padding: 2%;
    border-radius: 20px;
}

.Proyectos_Articulo{
    font-family: monospace;
    font-size: 100%;
    background-color: #f5f0e9; 
    margin-left: 3%; 
    margin-right: 3%; 
    margin-bottom: 50px; 
    margin-top: 70px;
    padding: 3%; 
    border-radius: 30px;  
    box-shadow: 0px 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.Tabla_Proyectos{
    justify-content: center;
    align-items: center;
    display: flex;
}

.Tabla_Proyectos table{
    background-color: #e0e0e0;
    border: 1px solid black;
    border-radius: 22px;
    padding: 2%;
}

.Tabla_Proyectos thead, tr, th{
    margin-left: 3%;
    margin-right: 3%;
    border: 1px solid black;
    padding: 10px;
}

.Tabla_Proyectos th{
    background-color: #c4c4c4;
}

.Tabla_Proyectos tbody, tr, td{
    text-align: center;
    padding: 3%;
    border: 1px solid black;
}

.Tabla_Proyectos td{
    background-color: #cecece;
}

.Tabla_Proyectos a{
    color: black;
    text-decoration: none;
}

.Tabla_Proyectos td:hover{
    background-color: rgb(138, 138, 255);
    transition: background-color 1s;
}

.Tabla_Proyectos a:hover{
    color: white;
    text-decoration: underline;
}

.Estudios{
    font-family: monospace;
    font-size: 100%;
    background-color: #f5f0e9; 
    margin-left: 3%; 
    margin-right: 3%; 
    margin-bottom: 50px; 
    margin-top: 70px;
    padding: 3%; 
    border-radius: 30px;  
    box-shadow: 0px 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.Boton_Regreso {
    color: black; 
}

.Boton_Regreso:hover{
    color: blue;
    text-decoration: none;
}

.Titulos_Uno img{
    margin-top: 2%;
    margin-bottom: 3%;
    margin-left: 2%;
    margin-left: 2%;
    width: 280px;
    height: 400px;
    border: 2px dashed black;
}

.Titulos_Dos img{
    margin-top: 2%;
    margin-bottom: 3%;
    margin-left: 2%;
    margin-left: 2%;
    width: 450px;
    height: 400px;
    border: 2px dashed black;
}

.Titulos_Uno img:hover{
    width: 285px;
    height: 410px;
}

.Titulos_Dos img:hover{
    width: 460px;
    height: 415px;
}

.Titulos_Uno a{
    margin-top: 2%;
    margin-bottom: 3%;
    margin-left: 2%;
    margin-left: 2%;
}

.Titulos_Dos a{
    margin-top: 2%;
    margin-bottom: 3%;
    margin-left: 2%;
    margin-left: 2%;
}

.Redes_Sociales_Footer{
    justify-content: center;
    align-items: center;
    display: flex;
}

.Redes_Sociales_Footer a{
    color: black;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
}

.Redes_Sociales_Footer a:hover{
    color: #d2d2d2;
    transition: color 0.5s;
}

.Titulo_Tres {
    display: flex;
    flex-direction: row;
}

.Titulo_Tres img{
    width: 400px;
    height: 600px;
    border: 2px dashed black;
}

.Titulo_Tres a{
    margin-top: 2%;
    margin-bottom: 3%;
    margin-left: 2%;
    margin-left: 2%;
}

.Titulo_Tres img:hover{
    width: 410px;
    height: 610px;
}

.Titulo_Cuatro img{
    width: 400px;
    height: 400px;
    border: 2px dashed black;
    margin-left: 22px; 
    margin-right: 22px; 
    margin-bottom: 22px;
}

.Titulo_Cuatro img:hover{
    width: 410px;
    height: 410px;
}

.Titulo_Cuatro a{
    margin-top: 2%;
    margin-bottom: 3%;
    margin-left: 2%;
    margin-left: 2%;
}

.Titulo_Cinco img{
    width: 490px;
    height: 400px;
    border: 2px dashed black;
    margin-left: 22px; 
    margin-right: 22px; 
    margin-bottom: 22px;
}

.Titulo_Cinco img:hover{
    width: 495px;
    height: 405px;
}

.Titulo_Cinco a{
    margin-top: 2%;
    margin-bottom: 3%;
    margin-left: 2%;
    margin-left: 2%;
}