@media(max-width: 900px){
            body{
                width: 1500px;
            }
            .Enlaces address {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
@media (max-width: 750px) {
    .Enlaces address {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Titulos_Dos img{
        width: 400px;
        height: 600px;
    }
}

header ul{
	justify-content: center;
	list-style-type: disc;
	display: flex;
	color: yellow;
	gap: 20px;
}

header a{
	text-decoration: none;
	font-family: tahoma;
	font-weight: bold;
	color: yellow;
	text-shadow: 3px 3px 5px #000000; /*Para sombras en texto, usamos text-shadow*/
	/*box-shadow: px px px color; es para contenedores tipo div, sections, article etc...*/
}

header a:hover{
	text-decoration: underline;
}

.Contenedor_De_Informacion{
	display: flex;
}

.Parte_Uno{
	flex: 2;
	background: linear-gradient(to right, #5E85FF, blue);
}

.Cont_1{
	justify-content: center;
}	

.Cont_1 p{
	color: white;
	padding: 2%;
	text-align: center;
	text-shadow: 4px 4px 4px black;
}

.Experiencia_laboral {
	padding: 2%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-shadow: 4px 4px 4px black;
}

.Tabla{
	display: flex;
	justify-content: center;
	align-items: center;
}

table, caption, tr, th, td {
	color: white;
	padding: 2%;
	text-align: center;
	border: 1px solid white;
	text-shadow: 3px 3px 5px black;
}

.Certificaciones p{
	list-style: none;
	background-color: #6377FF;
	box-shadow: -3px -2px 0px 3px #459CFF;
	padding: 2px;
}

.Certificaciones h2{
	border-radius: 12px;
}

.Certificaciones div{
	margin-left: 5px;
	margin-right: 5px;
	text-align: center;
	padding: 10px;
	flex: 1;
}

.Certificaciones{
	color: white; 
	padding: 2%;
	list-style: none; 
	text-shadow: 2px 2px 4px black;
	display: flex;
}

.Parte_Dos{
	flex: 1;
	background: linear-gradient(to left, #5E85FF, blue);
}


.Redes_Sociales_Footer{
    justify-content: center;
    align-items: center;
    display: flex;
}

.Redes_Sociales_Footer a{
    color: white;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
}

.Redes_Sociales_Footer a:hover{
    color: black;
    transition: color 0.5s;
}
